<div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">

        <a href="https://localhost:44397/Home/ViewPage1" class="btn btn-primary btn-lg">Calcular </a>
        </div>
</div>