<div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">

        <a href=@Url.Action("ViewPage1","Home") class="btn btn-primary btn-lg">Calcular </a>
        </div>
</div>